In [18]:
# We use 'pandas' for overall data manipulation in this session

# Pandas is a very famous python library for data analysis. We can efficiently manipulate, filter and create
# data using Pandas.
# DataFrames are the backbone of Pandas
# Dataframes are the two dimensional datastructure in pandas

In [7]:
# Let's represent a two-dimensional data structure using Python dictionary
people = {
    "name": ["Jon", "Jane","Ken", "Kevin","Maulik"],
    "email":["jon@email.com","jane@email.com","ken@email.com" , "kevin@email.com","maulik.online@gmail.com"],
    "address": ["KTM", "BKT", "PKR","PAR","TMC"]
}

In [8]:
import pandas as pd
df = pd.DataFrame(people)
df

     name                    email address
0     Jon            jon@email.com     KTM
1    Jane           jane@email.com     BKT
2     Ken            ken@email.com     PKR
3   Kevin          kevin@email.com     PAR
4  Maulik  maulik.online@gmail.com     TMC

In [9]:
df.shape

(5, 3)

In [10]:
df['email']

0              jon@email.com
1             jane@email.com
2              ken@email.com
3            kevin@email.com
4    maulik.online@gmail.com
Name: email, dtype: object

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     5 non-null      object
 1   email    5 non-null      object
 2   address  5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes

In [12]:
df.tail

<bound method NDFrame.tail of      name                    email address
0     Jon            jon@email.com     KTM
1    Jane           jane@email.com     BKT
2     Ken            ken@email.com     PKR
3   Kevin          kevin@email.com     PAR
4  Maulik  maulik.online@gmail.com     TMC>

In [13]:
type(df["email"])
#series
#Series is a single column of a dataframe
#Dataframe is a collection of such series methods

pandas.core.series.Series

In [14]:
# We can also access the column / series using a dot (.) operator
df.email
# But using '. is not recommended because it may conflict with the dataframe

0              jon@email.com
1             jane@email.com
2              ken@email.com
3            kevin@email.com
4    maulik.online@gmail.com
Name: email, dtype: object

In [15]:
df.columns

Index(['name', 'email', 'address'], dtype='object')

In [16]:
df.iloc[0]#It gives the first rom of the dataframe
#iloc stands for interger-Location
#We can give rows and coumns in the iloc
#If we want to provide multiple rows and multiple colums then they should be enclosed in []

name                 Jon
email      jon@email.com
address              KTM
Name: 0, dtype: object

In [18]:
df.iloc[[0,3]]

    name            email address
0    Jon    jon@email.com     KTM
3  Kevin  kevin@email.com     PAR

In [98]:
df.iloc[[0,1],1] #here 0,1 are rows and 1 is for column

0     jon@email.com
1    jane@email.com
Name: email, dtype: object

In [99]:
df.iloc[[0],[0,1,2]]

  name          email address
0  Jon  jon@email.com     KTM

In [21]:
df.iloc[0:
5,0:2]

     name                    email address
0     Jon            jon@email.com     KTM
1    Jane           jane@email.com     BKT
2     Ken            ken@email.com     PKR
3   Kevin          kevin@email.com     PAR
4  Maulik  maulik.online@gmail.com     TMC

In [101]:
# we also have a 'Loc' method for a dataframe
df.loc[[0, 1],["name","email"]]

   name           email
0   Jon   jon@email.com
1  Jane  jane@email.com

In [102]:
df.loc[0:3,"name":"email"]

    name            email
0    Jon    jon@email.com
1   Jane   jane@email.com
2    Ken    ken@email.com
3  Kevin  kevin@email.com

In [103]:
df

    name            email address
0    Jon    jon@email.com     KTM
1   Jane   jane@email.com     BKT
2    Ken    ken@email.com     PKR
3  Kevin  kevin@email.com     PAR

In [104]:
df.set_index("email")

                  name address
email
jon@email.com      Jon     KTM
jane@email.com    Jane     BKT
ken@email.com      Ken     PKR
kevin@email.com  Kevin     PAR

In [119]:
df.set_index("email",inplace=True)

In [107]:
df

                  name address
email
jon@email.com      Jon     KTM
jane@email.com    Jane     BKT
ken@email.com      Ken     PKR
kevin@email.com  Kevin     PAR

In [108]:
df.reset_index(inplace=True)

In [110]:
df.sort_index()

             email   name address
0    jon@email.com    Jon     KTM
1   jane@email.com   Jane     BKT
2    ken@email.com    Ken     PKR
3  kevin@email.com  Kevin     PAR

In [115]:
# Filtering
df["address"]=="PKR" # it is just a masking

filt=(df["address"] == "PKR")
df[filt]

           email name address
2  ken@email.com  Ken     PKR

In [116]:
df.loc[filt,"address"]

2    PKR
Name: address, dtype: object

In [118]:
df.loc[filt,["address","name"]]

  address name
2     PKR  Ken

In [134]:
df

     name                    email address
0     Jon            jon@email.com     KTM
1    Jane           jane@email.com     BKT
2     Ken            ken@email.com     PKR
3   Kevin          kevin@email.com     PAR
4  Maulik  maulik.online@gmail.com     TMC

In [136]:
filt=((df["address"] == "TMC" )| (df["name"] == "Maulik"))
df.loc[filt]

     name                    email address
4  Maulik  maulik.online@gmail.com     TMC

In [24]:
schema_df = pd.read_csv("survey_results_schema.csv",index_col="Column")
schema_df

FileNotFoundError: [Errno 2] No such file or directory: 'survey_results_schema.csv'